@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;400&family=Comfortaa:wght@700&display=swap');

body{
    background-color: #23BB00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2341ff22'/%3E%3Cstop offset='1' stop-color='%2341ff22' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2321750b'/%3E%3Cstop offset='1' stop-color='%2321750b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2331d314'/%3E%3Cstop offset='1' stop-color='%2331d314' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2323BB00'/%3E%3Cstop offset='1' stop-color='%2323BB00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2393FF88'/%3E%3Cstop offset='1' stop-color='%2393FF88' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23163A0C'/%3E%3Cstop offset='1' stop-color='%23163A0C' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
font-family: 'Bitter', serif;
font-family: 'Comfortaa', cursive;
}

.info{
    list-style: none;
    color: rgb(143, 143, 143);
    padding-left: 0;
}

.info span{
    color: #3eeb17;
}

.empty{
    width: 100%;
    height: 200px;
}

.myNav li{
    padding: 0;
    font-size: 15px;
}

.col-12{
    color: #baff85;
}

/* О сервере */

.about h1{
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin: 50px auto;
}

.about h2{
    font-size: 40px;
    letter-spacing: 2px;
}

.about h3{
    font-size: 30px;
    letter-spacing: 2px;
}

.about p, li{
    font-size: 20px;
    text-align: justify;
    padding-top: 15px;
}

.about ol{
    margin-top: 50px;
}

.animRow{
    transform: translateY(-150%);
    animation: anim 1s forwards;
}

@keyframes anim{
    0%{transform: translateX(150%);}
    100%{transform: translateY(0%);}
}

.animRow2{
    transform: translateY(150%);
    animation: anim2 3s forwards;
}

@keyframes anim2{
    0%{transform: translateX(-150%);}
    100%{transform: translateY(0%);}
}

.animRow3{
    transform: translateY(-150%);
    animation: anim3 1.3s forwards;
}

@keyframes anim3{
    0%{transform: translateX(150%);}
    100%{transform: translateY(0%);}
}
/* Модификации */

.title h2 {
    margin: 100px auto 60px;
    font-size: 20px;
    letter-spacing: 3px;
}

/* Кнопка модов */


.glow-on-hover {
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover-gal{
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before, .glow-on-hover-gal:before {
    content: '';
    background: linear-gradient(45deg, #69e207, #48ff00, #26ff00, #00ff15, #00d719, #008b35, #0b8900, #00d463, #007c1f);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active, .glow-on-hover-gal:active {
    color: rgb(177, 255, 151)
}

.glow-on-hover:active:after, .glow-on-hover-gal:active:after {
    background: transparent;
}

.glow-on-hover:hover:before, .glow-on-hover-gal:hover:before {
    opacity: 1;
}

.glow-on-hover:after, .glow-on-hover-gal:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(59, 153, 66);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Подвал сайта */

footer{
    padding: 30px 0;
    font-size: 15px;
    margin-top: 50px;
}

footer .f_btn{
    width: 100%;
    height: 50px;
    margin: 50px auto;
    border: 2px solid #fff;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

footer .f_btn:after {
    content: "";
    display: block;
    width: 20px;
    height: 200px;
    margin-left: 50px;
    background: #fff;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.5) 100%
    );
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    animation: movingFlare 3s ease-in-out 0.05s infinite;
  }
   
  @keyframes movingFlare {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }

  footer a{
      padding: 5px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      margin: 10px;
  }

  footer a:hover{
      background-color: #fff;
      color: #111;
  }

  footer i{
      width: 50px;
  }

  footer p{
      margin: 20px auto;
  }